.formInput {
  margin-top: 20px;
}

.output {
  text-align: left;
  font-size: 1.5rem;
}

.homescreen {
  height: 100% !important;
}

.iconSm {
  height: 180px !important;
}

.descriptionSm {
  margin-top: 30px;
}
.footerSm {
  margin-top: 60px;
}
